<form action="/following/create" method="post" id="loginForm">
    {{name1}} : <input type="text" name="followFrom" value="{{name1}}"><br>
    {{name2}} : <input type="text" name="followTo" value="{{name2}}"><br>
    <button type="submit" name="ad" value="{{ad}}">{{ad}}</button>
</form>


